.App {
  text-align: center;
}

body {
  background-color: #ECE6E5;
}

.App-header {
  background-color: #ECE6E5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1B5263;
}

#sign-in-btn {
  margin-bottom: 10px;
}

.login-page-input {
  margin: auto;
  width: 300px;
}

.meal-image-card {
  height: 100px;
  width: 100px;
}

.meal-card {
  border: 1px solid black;
  width: 200px;
  height: 300px;
  margin-top: 50px;
  padding: 10px;
  height: auto;
}

.link-btn {
  margin-right: 10px;
}

#meal-list {
  display: flex;
  margin: auto;
  width: 75%;
  justify-content: space-between;
}

.recipe-btn {
  margin: auto;
}

#login-page {
  display: flex;
  height: 750px;
}

#new-account-div {
  margin: auto;
}

#login-form-div {
  margin: auto;
}

#login-page-title {
  margin: auto;
}

#new-recipe-btn {
  margin-top: 100px;
  font-size: large;
}